[Desktop Entry]
Name=WmCalClock
Comment=A Simple Calendar Clock
Comment[pl]=Prosty zegar z kalendarzem
Exec=wmCalClock
Terminal=false
Type=Application
# vi: encoding=utf-8
