[Desktop Entry]
Encoding=UTF-8
Name=WmCalClock
Comment=A Simple Calendar Clock
Comment[pl]=Prosty zegar z kalendarzem
Exec=wmCalClock
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
